# logs
logs
*.log
.eslintcache
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# system files
.DS_Store
Thumbs.db

# dependencies
node_modules/

# build outputs
dist/
dist-ssr/
.vite/
*.local

# IDEs
.vscode/
!.vscode/extensions.json
.idea/

# env files
.env
.env.local
.env.development
.env.production

# editor/OS leftovers
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?